body {
    height: 100%;
    background: linear-gradient(to bottom, #000000, #2e2d2d); /* Use a linear gradient */
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 2.3s ease-in-out;
    background-repeat: no-repeat;
    background-color: #2e2d2d;
}

h1 {
    text-align: center;
    font-size: 100px;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 1s ease; /* Apply transition effect */
}

h2 {
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.text-box {
    color: rgba(255, 255, 255, 0.486);
    font-size: 25px;
    position: relative; /* or position: absolute; depending on your layout */
    left: 40px; /* Adjust the value to move it more to the right */
    width: 760px;
}
.smaller-text-box {
    color: rgba(255, 255, 255, 0.164);
    font-size: 20px;
    position: relative; /* or position: absolute; depending on your layout */
    left: 40px; /* Adjust the value to move it more to the right */
    height: 600px;
    width: 760px;
}


.fade-in {
    opacity: 1; /* Change opacity to 1 when the element has the fade-in class */
}

.large-image {
    width: 20%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    position: absolute; /* Position the image absolutely */
    bottom: 0; /* Align the bottom of the image with the bottom of its containing element (in this case, the page) */
    right: 0; /* Align the image to the right */
}

.bottom-text-box {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.068);
    padding: 10px;
    border-radius: 5px;
    width: 80%; /* Adjust width as needed */
}

